= simple_form_for @intern do |f|
  - if intern.errors.any?
    #error_explanation
      %h2
        = pluralize(intern.errors.count, "error")
        prohibited this intern from being saved:
      %ul
        - intern.errors.full_messages.each do |message|
          %li= message

  = f.input :first_name

  = f.input :last_name

  = f.button :submit
