%h3 Interns
.col-md-12
  %table.table.table-striped.table-responsive
    %thead
      %tr
        %th First name
        %th Last name
        %th{:colspan => "5"}
    %tbody
      - @interns.each do |intern|
        %tr
          %td
            %p= intern.first_name
          %td
            %p= intern.last_name
          %td= link_to t('shared.show'), intern, :class => 'btn btn-sm btn-primary'
          %td= link_to t('shared.edit'), edit_intern_path(intern) , :class => 'btn btn-sm btn-info'
          %td= link_to t('shared.delete'), intern, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-sm btn-danger'
%br/
= link_to t('shared.new_intern'), new_intern_path , :class => 'btn btn-sm btn-danger'
%br/
%br/
= link_to t('shared.shuffled'), shuffled_interns_path, :class => 'btn btn-sm btn-primary'
