%p#notice= notice
%p
  %strong First name:
  = @intern.first_name
%p
  %strong Last name:
  = @intern.last_name
= link_to t('shared.edit'), edit_intern_path(@intern) ,:class => 'btn btn-sm btn-info'
|
= link_to t('shared.back'), interns_path ,:class => 'btn btn-sm btn-info'
