%h3 Shuffled Interns
.row
  .col-md-12
    %table.table.table-striped.table-responsive
      %thead
        %tr
          %th Number
          %th First Intern
          %th Second Intern
      %tbody
        - @interns.each_with_index do |interns_pair,index|
          %tr
            %td
              %p= 'Pair #' + (index+1).to_s
            - interns_pair.each do |intern|
              %td.intern
                %p= intern.first_name
                %p= intern.last_name
%br/
= link_to t('shared.repeat'), shuffled_interns_path , data: {turbolinks: false}, :class => 'btn btn-sm btn-primary'
%br/
%br/
= link_to t('shared.back'), interns_path , :class => 'btn btn-sm btn-primary'
