!!!
%html
  %head
    %title Pairs
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Indie+Flower", :rel => "stylesheet"}/
  %body
    = render 'layouts/flash'
    = yield
